	<h1>New Post</h1>
	<form action="/" method="POST"> 
		<label for="title">Title</label> <br />
		<input type="text" name="title" placeholder="Enter a Value"> <br />
		<label for="body">Post</label> <br />
		<textarea name="body" placeholder="Please enter the post that you would like to submit."></textarea>  <br />
		<input type="submit" value="Save post">
	</form>
